@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

@import "blocks/header";
@import "blocks/hotel";
@import "blocks/packages";
@import "blocks/newsletter";
@import "blocks/reviews";
@import "blocks/activities";
@import "blocks/footer";
@import "blocks/modal";

@import "media";
