@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header {
    &__search {
      margin-left: auto;
    }
  }
  .header {
    &-menu__inner {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

@media (max-width: 768px) {
  .header-top {
    &__inner {
      padding: 30px 0;
    }
  }
  .search {
    &__input {
      max-width: 340px;
    }
  }

  .logo {
    &__img {
      width: 132px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 20px;
  }
  .navbar {
    &__search,
    &__user,
    &__menu {
      display: none;
    }
    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 11px;
      background-color: inherit;
      span {
        background-color: #333333;
      }
    }
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .hotel {
    &-info {
      display: block;
    }
    &-info__rating {
      display: none;
    }
    &-info__about-offer {
      order: -1;
    }
    &-info__about-title {
      flex-basis: 100%;
      margin-right: 0;
      margin-top: 10px;
    }
    &-info__about-stars {
      flex-basis: auto;
      margin-bottom: 0;
    }
    &-info__about-box {
      justify-content: space-between;
    }
  }
}

@media (max-width: 370px) {
  .hotel {
    &-info__about {
      max-width: 269px;
    }
  }
}
