@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hotel {
    &-slider {
      max-width: 590px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .newsletter {
    &-container {
      max-width: 700px;
    }
  }
  .header {
    &__search {
      margin-left: auto;
    }
  }
  .header {
    &-menu__inner {
      font-size: 12px;
      line-height: 15px;
    }
  }
  .hotel {
    &-grid {
      flex-direction: column;
      gap: 30px;
    }
    &-slider {
      max-width: 100%;
    }
    &-box {
      flex-direction: row;
    }
    &-book {
      max-width: 340px;
    }
  }
  .map {
    width: 340px;
  }
}

@media (max-width: 768px) {
  .header-top {
    &__inner {
      padding: 30px 0;
    }
  }
  .search {
    &__input {
      max-width: 340px;
    }
  }
  .logo {
    &__img {
      width: 132px;
    }
  }
}

@media (max-width: 750px) {
  .container {
    padding: 0 20px;
  }
  .newsletter {
    height: 320px;
    &-container {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      justify-content: center;
      gap: 37px;
    }
    &-form {
      width: 100%;
    }
    &-title {
      align-self: start;
    }
  }
  .navbar {
    &__search,
    &__user,
    &__menu {
      display: none;
    }
    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 11px;
      background-color: inherit;
      span {
        background-color: #333333;
      }
    }
  }
  .hotel {
    &-grid {
      gap: 20px;
    }
    &-box {
      flex-direction: column;
      gap: 20px;
    }
    &-book {
      max-width: 100%;
    }
  }

  .map {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
  .hotel {
    &-info {
      display: block;
    }
    &-info__rating {
      display: none;
    }
    &-info__about-offer {
      order: -1;
    }
    &-info__about-title {
      flex-basis: 100%;
      margin-right: 0;
      margin-top: 10px;
    }
    &-info__about-stars {
      flex-basis: auto;
      margin-bottom: 0;
    }
    &-info__about-box {
      justify-content: space-between;
    }
  }
  .swiper {
    height: 300px;
    &-slide__img {
      width: 100%;
    }
  }
}

@media (max-width: 370px) {
  .hotel {
    &-info__about {
      max-width: 269px;
    }
  }
  .swiper {
    height: 179px;
  }
  .map {
    height: 172px;
  }
  .newsletter {
    &-title {
      font-size: 20px;
      line-height: 25px;
      &__strong {
        font-size: 30px;
        line-height: 38px;
      }
    }
  }
}
