@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: #fff;
  &-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
  &__search {
    margin-left: 108px;
    margin-right: auto;
  }
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  &__input {
    width: 350px;
    height: 100%;
    background: #f5fafe;
    padding-left: 23px;
    padding-right: 80px;
    border-radius: 6px;
    &::placeholder {
      color: #333333;
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0 6px 6px 0;
    width: 65px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec1f46;
  }
}

.user {
  display: flex;
  gap: 18px;
  align-items: center;
  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__name {
    font-size: 14px;
    line-height: 18px;
  }
}

.logo {
  &__img {
    width: 177px;
  }
}

.navbar {
  &__btn {
    display: none;
    span {
      width: 16px;
      height: 1px;
    }
  }
}
.header-menu {
  background-color: #0a223d;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    @extend %m700;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
  }
}

.hotel {
  &__inner {
    padding: 20px 0 70px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &-info__about-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &-info__about-stars {
    flex-basis: 100%;
    margin-bottom: 4px;
  }
  &-info__about-title {
    @extend %m700;
    font-size: 24px;
    line-height: 30px;
    margin-right: 14px;
  }
  &-info__about-text {
    line-height: 15px;
  }
  &-info__about-offer {
    font-size: 10px;
    line-height: 13px;
    color: #ffffff;
    background: #ec1f46;
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  &-info__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65px;
    height: 45px;
    font-size: 8px;
    line-height: 10px;
    color: #ffffff;
    background: #ec1f46;
    border-radius: 4px;
    justify-content: center;
    gap: 2px;
  }
  &-info__rating-number {
    font-size: 12px;
    @extend %m700;
    span {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &-box {
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  &-slider {
    max-width: 728px;
  }
  &-book {
    max-width: 350px;
    background-color: #0a223d;
    color: #fff;
    @extend %n400;
    font-size: 12px;
    line-height: 16px;
    border-radius: 8px;
  }
  &-book__about {
    padding: 27px;
    span {
      display: block;
    }
  }
  &-book__about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &-book__price {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 2px;
  }
  &-book__price-num {
    @extend %n800;
    font-size: 24px;
    line-height: 29px;
  }
  &-book__guests {
    margin-bottom: 8px;
  }

  &-book__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 25px;
  }

  &-book__btn {
    background-color: #ec1f46;
    @extend %n600;
    max-width: 100%;
    font-size: 14px;
    line-height: 19px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}
.stars {
  display: flex;
  gap: 2px;
}

.swiper {
  width: 728px;
  height: 450px;
  border-radius: 8px;
  position: relative;
}
.slider {
  &-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    z-index: 99;
    margin: 0 auto;

    &--next {
      right: 17px;
      left: auto;
    }
    img {
      margin: auto;
    }
  }
}

@import "media";
